node_modules/
.env
venv/
*.pyc
__pycache__/
dist/
.env
.vercel
safetruck_backup.sql
.env*.local
cache/
venv/
*.sql
SafeTruck3/node_modules/
src/data/*.geojson
apply_tramos_lanus.py
apply_tramos_lanus_final.py
apply_tramos_lanus_google.py
fix_lanus.py
fix_lanus_restrictions.py
